.footer {
    position: relative;


    .blue-dots {
        position: absolute;
        bottom: -2rem;
        z-index: -10;
        left: 3rem;
    }

    .blue-rec {
        position: absolute;
        bottom: -2rem;
        z-index: -10;
        left: 0;
    }

    .rec {
        position: absolute;
        bottom: -2rem;
        z-index: -10;
        left: 0;
    }

    .container {
        .title {
            font-size: $Body;
            font-weight: $font-Medium;
            text-align: center;
            color: $Black;
            margin-bottom: 1rem;
        }

        .desc {
            font-size: 1.2rem;
            letter-spacing: 0.3px;
            text-align: center;
            color: $Light-Green;
            margin-bottom: 1rem;
        }

        .email {
            font-size: $Paragraph-2;
            font-weight: $font-Bold;
            letter-spacing: 0.2px;
            color: $Dark-Purple;
            text-align: center;
            margin-bottom: 2rem;
        }

        .socials {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            img {
                cursor: pointer;
            }
        }
    }
}